<h2>Por Región</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- searchBox -->
    <!-- (onValue)="searchByRegion($event)" -->
     <shared-search-box
        (onDebounce)="searchByRegion($event)"
        placeholder="Buscar por país "
     >
     </shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countriesChild]="countries"></countries-table>
    <!-- no entendí por qué le manda los countries acá -->

  </div>
</div>
