<h2>Por Región</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <!-- searchBox -->
    <!-- (onValue)="searchByRegion($event)" -->
    <button *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="{'btn-outline-primary': selectedRegion === region}"
      initialValue="initialValue"
      (click)="searchByRegion(region)" >
      {{region}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countriesChild]="countries"></countries-table>
    <!-- no entendí por qué le manda los countries acá -->

  </div>
</div>
